@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  background-color: black;
}

html {
}

.navbar {
  background-color: transparent !important;
}
.top1video {
  width: 100% !important;
  height: 100vh !important;
}
