@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(to top, #000000, #1f2937);;
  font-family: NetflixSans, system-ui, sans-serif;
}
